 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 html{
   font-family: 'Roboto', sans-serif;
   color: #eee;
   font-size: 10px;
 }
  body{
    /* background-color:#636363; */
    /* background-color:#ACACE6; */
        background-color:rgb(9,20,60);
  }
    
.container{
    width: 90%;
    max-width: 120rem;
    height:100%;
    position:relative;
      /* max-width: 1140px; */
      /* background-color: blue; */
      margin:auto;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
    }
  section{
    padding: 6rem;
  }
  p{
    font-size: 1.8rem;
    font-weight: 300;
    color:white;
  }
  a{
    text-decoration: none;
  }
  img{
    width:75%;
  }
  .navbar{
  position: absolute; 
   left: 0px;
   right:0px;
   border-bottom: 1px solid #423940;
  }
  .navbar .row{
    justify-content: space-between;
  }
  .nav-link{
    color: white;
    font-weight:bold;
    font-size: 18px;
    /* justify-content: space-between; */
  }
  .home{
     height: 100%; 
    width: 100%;
     /* min-height: 100vh;  */
     /* background-color:#636363; */
     /* background: url("/image/red.png") no-repeat center fixed;  */
    background-size:cover; 
  }
  .home .full-screen{
    /* background-color: purple; */
    min-height: 100vh;
  }
 .home .home-content {
   /* background-color: green; */
   flex: 0 0 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;

 }
 .home .home-content .block{
   /* background-color:black; */
   flex: 0 0 75%;
   max-width: 75%;
   padding-left:35px;
   border-left: 5px solid #ffffff;

 }
 .home .home-content .block h6{
   color: #ffffff;
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   padding: 15px;
   
 }
 .home .home-content .block h1{
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  
 }
 .home .home-content .block h3{
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  

 }
 /* about styling */
 .about .container{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .about-heading{
   text-align:center;
   text-transform: uppercase;
   line-height: 0;
   margin-bottom: 6rem;
 }
 .about-heading h1{
   font-size: 10rem;
   opacity: .3;
   color:white;
 }
 .about-heading h6{
  font-size: 2rem;
  font-weight: 300;
  color:white;
}
.profile-img{
  flex: 1;
  margin-right:5rem;
}
.about-details{
  flex: 1;
}
.social-media{
  margin-top: 5rem;
  color: white;
  
}
.social-media i{
  font-size: 5rem;
  transition: color 650ms;
  }

  .nav-list li{
    list-style-type: none;
    display:inline;
    padding: 1rem;

}
.fab:hover{
    color: #4267b2;
    
}
.fab-:hover{
  color: #4267b2;
}
.fab:hover{
  color: #4267b2;
}
/* projects styling */
.section-heading{
  text-align: center;
  margin-bottom: 10rem;
}
.section-heading h1{
  font-size: 3.5rem;
  color: rgba(255,255,255, .9);
  text-transform: uppercase;
  font-weight: 300;
  position:relative;
  margin-bottom:1rem;
}
.section-heading h1:before,
.section-heading h1:after{
content: '';
position: absolute;
bottom: -.5rem;
left: 50%;
transform: translateX(-50%);
background-color: rgba(255,255,255, 0.75);

}
.section-heading h1:before{
  width: 10rem;
  height:3px;
  border-radius: .8rem
}
.section-heading h1:after{
  width: 1.5rem;
  height:1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}
.section-heading h6{
  font-size: 1.6rem;
  font-weight: 300;
  color:white;
}
.has-margin-right{
  margin-right: 5rem;
}


.portfolio-item{
  display: flex;
  align-items:center;
  justify-content: center;
  margin-bottom: 5rem;
 


}
.portfolio-item:last-child{
  margin-bottom: 0;
}
.profile-img{
  width: 50rem;
  flex:2;
}
.portfolio-description{
  
}
.portfolio-description h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;

}
.portfolio-description h1{
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
  color:white;

}
.portfolio-description .cta{
  display: inline-block;
  /* margin-top: 2.5rem; */
  text-transform: uppercase;
  color: #3883ff;
  transition: color 650ms;
}

/* timeline class */
.timeline ul{
  border-left: 4px solid #ffe838;
  border-radius: .8rem;
  background-color: rgba(0,0,0,0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style:none;
  text-align: left;
  width:70%;
}
.timeline h1{
  font-size: 2rem;
  text-transform:uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: .3;
}
.timeline .date{
  border-bottom: 1px solid rgba(255,255,255, 0.1);
  margin-bottom: 1rem;
  padding-bottom:1rem;
  position: relative;
}
.timeline .date:last-of-type{
  padding-bottom:0;
  margin-bottom: 0;
  border:none;
}

.timeline .date::before,

.timeline .date::after{
  position: absolute;
  display:block;
  top: 50%;
  transform: translateY(-50%);
}
.timeline .date::before{
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size:1.5rem;
}
.timeline .date::after{
content: "";
box-shadow: 0 0 0 4px #fd57bf;
border-radius: 100%;
left: -8rem;
height: 1.5rem;
width: 1.5rem;
background-color: #313534;
}

.contact{
  background-color: #22le3f;
}
form{
  width:70%;
  margin: 0 auto;
}
form label{
  font-size: 1.5rem;
  
}
label {
  display: inline-block;
  margin-bottom: .5rem;
  color: white;
}

input,
select,
textarea{
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  outline-color: #fd57bf;

}
input[type="submit"]{
  width: initial;
  background-color: #fd57bf;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms

}
.input[type="submit"]:hover{
  /* color: #22l33f; */
  background-color: #ffe838;
}
.copyright{
  width: 100%;
  text-align:center;
  background-color: #16162d;
  padding: 2rem 0;
  position:relative;
  color:#ffffff;
}
.up{
  position: absoulte;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top:-2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;

}
.up i{
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}
.copyright p{
  font-size: 1.4rem;
}
@keyframes pulse{
  0%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}



  







/*.container-fluid {
      background: blue;
     
      height:500px; 
  }
   .nav-options{
      background: orangered;
      width: 20%;
        height: 600px;  
  } 
  .nav-links{
      margin: 0 auto;
  }
  .navbar{
    margin: 0 auto;
  }
  .round-image{
    margin: 0 auto;
    height: 140px; 
    
  }

  img{
    border-radius: 60%;
    border: 5px solid black ;
    width:140px;
    margin: 50px 0;
  }

.navContainer {
  width: 230px;
}

.navContainer .nav-item {
  margin: 0 auto;
  padding: 10px;
}
 .info-section{
  float:right; 
  top: 0;
} 

.sidebar{
  height: 609px;
  background-color:blueviolet;
}
.icons{
  padding:35px;
  margin
}  */
